<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mapper.FoodMapper">

	<select id="searchCode" parameterType="int" resultType="food">
		select *
		from foodinfo where code=#{no};
	</select>
	<select id="searchName" parameterType="string" resultType="food">
		select name, supportpereat, calory,  carbo, protein, fat, sugar, natrium, chole, fattyacid, transfat, maker, material, img, allergy, frequency
		from foodinfo where name=#{name};
	</select>
	
	<select id="searchAll" resultType="food">
		select * from foodinfo;
	</select>
	
	<!-- searchAllBean -->
	<!-- all -->
	<select id="searchAllBean" parameterType="bean" resultType="food">
		select * from foodinfo
		where material like concat('%',#{word},'%') 
		or maker like concat('%',#{word},'%') or name like concat('%',#{word},'%')
	</select>
	<!-- name -->
	<select id="searchAllBeanName" parameterType="bean" resultType="food">
		select * from foodinfo
		where name like concat('%',#{word},'%')
	</select>
	<!-- maker -->
	<select id="searchAllBeanMaker" parameterType="bean" resultType="food">
		select * from foodinfo
		where maker like concat('%',#{word},'%')
	</select>
	<!-- material -->
	<select id="searchAllBeanMaterial" parameterType="bean" resultType="food">
		select * from foodinfo
		where material like concat('%',#{word},'%') 
	</select>
	
	<update id="updateClick" parameterType="food">
		update foodinfo set frequency=#{frequency} where code = #{code}
	</update>
	
	
	<select id="foodCountAll" parameterType="string" resultType="int">
		select count(*) from foodinfo where name like concat('%',#{word},'%') or maker like concat('%',#{word},'%') or material like concat('%',#{word},'%')	
	</select>
	<select id="foodCountName" parameterType="string" resultType="int">
		select count(*) from foodinfo where name like concat('%',#{word},'%')	
	</select>
	<select id="foodCountMaker" parameterType="string" resultType="int">
		select count(*) from foodinfo where maker like concat('%',#{word},'%')	
	</select>
	<select id="foodCountMaterial" parameterType="string" resultType="int">
		select count(*) from foodinfo where material like concat('%',#{word},'%')	
	</select>


	<insert id="insertFood" parameterType="food">
		insert INTO foodinfo VALUES(#{code}, #{name}, #{supportpereat}, #{calory},  #{carbo}, #{protein}, #{fat}, #{sugar},#{natrium},#{chole},#{fattyacid},#{transfat},#{maker},#{material},#{img},#{allergy}, #{frequency})
	</insert>
	
	<select id="searchByFrequency" resultType="food">
		select * from foodinfo
	</select>
	
</mapper>