<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mapper.historyMapper">
	<select id="selectHistory" parameterType="String" resultType="history">
		select id, date_format(regdate, "%Y-%m-%d") as regdate, s_name from s_history where id=#{id}
	</select>
	
	<insert id="insertHistory" parameterType="history">
		insert s_history(id, s_name) values(#{id}, #{s_name})
	</insert>
</mapper>