<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mapper.MemberMapper">
	<insert id="insertMember" parameterType="member">
		insert into mem (id,pw,name,phone,email,allergy) values (#{id},#{pw},#{name},#{phone},#{email},#{al})
	</insert>
	
	<select id="searchMember" parameterType="string" resultType="member">
		select id, pw ,name, phone, email, allergy al from mem where id = #{id};
	</select>
	
	
	<select id="searchPass" parameterType="string" resultType="string">
		select ans from mem where id = #{id};
	</select>
	
	<!-- 나중에 -->
	<select id="LoginMember" parameterType="string" resultType="member">
		select * from mem where id = #{id}
	</select>

	<update id="updateMember" parameterType="member">
		update mem set pw = #{pw}, name = #{name}, phone = #{phone}, email = #{email}, allergy = #{al} where id = #{id}
	</update>

	<delete id="deleteMember" parameterType="string">
		delete from mem where id=#{id}
	</delete>
	
	<select id="searchAll" resultType="member">
		select * from mem
	</select>
</mapper>