<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
  <typeAliases> <!-- mapper에서 참조할 bean의 예명 등록 -->
  	<typeAlias type="com.ssafy.vo.Food" alias="food"/>
  	<typeAlias type="com.ssafy.vo.Member" alias="member"/>
  	<typeAlias type="com.ssafy.vo.Nutrition" alias="nutrition"/>
  	<typeAlias type="com.ssafy.vo.FoodPageBean" alias="bean"/>
  	<typeAlias type="com.ssafy.vo.Board" alias="board"/>
  	<typeAlias type="com.ssafy.vo.JJim" alias="jjim"/>
	<typeAlias type="com.ssafy.vo.PageBean" alias="pagebean"/>
	<typeAlias type="com.ssafy.vo.History" alias="history"/>
	<typeAlias type="com.ssafy.vo.Comment" alias="comment"/>
  </typeAliases>
  
  <mappers>
    <mapper resource="mapper/foodmapper.xml"/>
    <mapper resource="mapper/membermapper.xml"/>
    <mapper resource="mapper/qnamapper.xml"/>
    <mapper resource="mapper/jjimmapper.xml"/>
    <mapper resource="mapper/historymapper.xml"/>
  </mappers>
</configuration>